<h1 class="my-4">修改使用者資料</h1>
<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
   <% end %>
   <div>
    Email <%= current_user.email %>
  </div> 
  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :tel %>
    <%= f.text_field :tel %>
  </div>

  <%= f.submit class: 'my-3' %>
<% end %>
