<h1>使用者登入</h1>

<%= form_for(@user, url: login_path, method: 'post') do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "登入" %>
<% end %>

