<h1>使用者註冊</h1>

<%= form_for(@user, url: '/sign_up', method: 'post') do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirm, "確認密碼" %>
    <%= f.password_field :password_confirm %>
  </div>

  <%= f.submit "註冊" %>
<% end %>

