<%= content_for :head_js do %>
  <script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
<% end %>

<h1>結帳</h1>

<%= render 'cart' %>

<%= form_for(@order) do |form| %>
  <div>
    <%= form.label :receiver %>
    <%= form.text_field :receiver %>
  </div>
  
  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <%= form.hidden_field :nonce %>

  <div id="dropin-container"></div>

  <%= form.submit id: 'submit-order' %>
<% end %>

<script>
  document.addEventListener("turbolinks:load", function() {
    let button = document.querySelector("#submit-order");
    let nonce_field = document.querySelector("#order_nonce");

    braintree.dropin.create({
      authorization: '<%= @token %>',
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function (e) {
        e.preventDefault();
        instance.requestPaymentMethod(function (err, payload) {
          nonce_field.value = payload.nonce;
          form.submit();
        });
      });
    });
  });

</script>
