<h1>結帳</h1>

<%= render 'cart' %>

<%= form_for(@order) do |form| %>
  <div>
    <%= form.label :receiver %>
    <%= form.text_field :receiver %>
  </div>
  
  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <%= form.submit %>
<% end %>
